{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4" style="padding-top: 10px; padding-bottom: 10px">{% block title %} Choose Player to display stats {% endblock %}</h1>
    <div class="row">
        {% set loop_counter = 0 %}
        {% for player in players.keys() %}
            {% if player not in opt_out_list %}
                {% set loop_counter = loop_counter + 1 %}
                <div class="col-md-4 col-sm-6 col-12 mb-3"><a class="btn btn-secondary form-control" type="button" href="/player_stats/{{ player }}">{{ player }}</a></div>
            {% endif %}
            {% if player in opt_out_list %}
                {% set loop_counter = loop_counter - 1 %}
            {% endif %}
            {% if loop_counter % 3 == 0 %}
                <div class="w-100"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
