{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4" style="padding-top: 10px; padding-bottom: 10px">{% block title %} Welcome to Modernligan Stats {% endblock %}</h1>
    <p class="lead" style="padding-top: 10px; padding-bottom: 10px; width: 80%">This page collects and displays the data from Modernligan in Stockholm that is played at Alphaspel in Örnsberg every Monday at 18:00.</p>
    <p class="lead" style="padding-top: 10px; padding-bottom: 10px; width: 80%">Modernligan is currently on it's 24th season and has been played in Stockholm for over 10 years with the help of a number of dedicated people.</p>
        
    <p class="lead" style="padding-top: 10px; padding-bottom: 10px; width: 80%">It is currently being run by Petter Sten and Marcus Linder</p>
{% endblock %}
